In [1]:
import pandas as pd
from sklearn import datasets

In [145]:
# 기본적인 데이터 정제. 누락값 복구 과정.
boston = datasets.load_boston()
boston.data[[1,2,3],[0,2,3]]= None #임의로 누락값을 만들어줌
dfX = pd.DataFrame(boston.data, columns = boston.feature_names)
dfy = pd.DataFrame(boston.target, columns = ["MEDV"])

In [146]:
df = pd.concat([dfX, dfy], axis = 1)
print(df)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1        NaN   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0    NaN   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   NaN  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [147]:
df.describe() #RAD : 카테고리 9개 // CHAS : 카테고리 2개

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,505.000000,506.000000,505.000000,505.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.620625,11.363636,11.144832,0.069307,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.608589,23.322453,6.864761,0.254227,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082210,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.259150,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.678220,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [12]:
#수치 항목들만 남겨놓고, 누락값을 median으로 채울거임
feature_names = list(boston.feature_names)
category_feature_names = ['CHAS', 'RAD']
numeric_feature_names = list(set(feature_names)-set(category_feature_names))

In [15]:
median = df[numeric_feature_names].median()
dfN = df[numeric_feature_names].fillna(median)

In [48]:
category_feature_names

['CHAS', 'RAD']

In [58]:
#카테고리 항목들은, median이 없으니 다수값(최빈값)으로 치환 할거임
#코드 살짝 오류
dfC = df[category_feature_names]

for field in category_feature_names:
    val = dfC[field].value_counts().index[0]
    dfC = dfC.fillna(val)
dfC

     CHAS  RAD
0     0.0  1.0
1     0.0  2.0
2     0.0  2.0
3     0.0  3.0
4     0.0  3.0
..    ...  ...
501   0.0  1.0
502   0.0  1.0
503   0.0  1.0
504   0.0  1.0
505   0.0  1.0

[506 rows x 2 columns]

In [59]:
df = pd.concat([dfN,dfC], axis = 1)
print(df.head())

      RM       B  LSTAT  PTRATIO    TAX    NOX     DIS    ZN   AGE     CRIM  \
0  6.575  396.90   4.98     15.3  296.0  0.538  4.0900  18.0  65.2  0.00632
1  6.421  396.90   9.14     17.8  242.0  0.469  4.9671   0.0  78.9  0.25915
2  7.185  392.83   4.03     17.8  242.0  0.469  4.9671   0.0  61.1  0.02729
3  6.998  394.63   2.94     18.7  222.0  0.458  6.0622   0.0  45.8  0.03237
4  7.147  396.90   5.33     18.7  222.0  0.458  6.0622   0.0  54.2  0.06905

   INDUS  CHAS  RAD
0   2.31   0.0  1.0
1   7.07   0.0  2.0
2   9.69   0.0  2.0
3   2.18   0.0  3.0
4   2.18   0.0  3.0

In [143]:
# 스케일링
# numeric data만 min max 스케일링
from sklearn.preprocessing import StandardScaler, MinMaxScaler

boston = datasets.load_boston()
dfX = pd.DataFrame(boston.data, columns = boston.feature_names)
feature_names = list(boston.feature_names)
category_feature_names= ['CHAS', 'RAD']
numeric_feature_names = list(set(feature_names)-set(category_feature_names))

scaler = MinMaxScaler()
scaler.fit(dfX[numeric_feature_names])
scaled_boston = scaler.transform(dfX[numeric_feature_names])

In [68]:
#case 1:
#카테고리 데이터를 유지한채로 데이터프레임 만들경우
scaled_df = pd.DataFrame(scaled_boston, columns=numeric_feature_names)
dfX = pd.concat([scaled_df, dfX[category_feature_names]],axis=1)
dfy = pd.DataFrame(boston.target, columns =["MEDV"])
df = pd.concat([dfX,dfy], axis=1)
print(df.head())

         RM         B     LSTAT   PTRATIO       TAX       NOX       DIS    ZN  \
0  0.577505  1.000000  0.089680  0.287234  0.208015  0.314815  0.269203  0.18
1  0.547998  1.000000  0.204470  0.553191  0.104962  0.172840  0.348962  0.00
2  0.694386  0.989737  0.063466  0.553191  0.104962  0.172840  0.348962  0.00
3  0.658555  0.994276  0.033389  0.648936  0.066794  0.150206  0.448545  0.00
4  0.687105  1.000000  0.099338  0.648936  0.066794  0.150206  0.448545  0.00

        AGE      CRIM     INDUS  CHAS  RAD  MEDV
0  0.641607  0.000000  0.067815   0.0  1.0  24.0
1  0.782698  0.000236  0.242302   0.0  2.0  21.6
2  0.599382  0.000236  0.242302   0.0  2.0  34.7
3  0.441813  0.000293  0.063050   0.0  3.0  33.4
4  0.528321  0.000705  0.063050   0.0  3.0  36.2

In [144]:
# 두칸위 스케일링 부터 먼저 실행
# case 2:
# 카테고리 데이터 -> 수치 데이터 변환
# one hot encoder에서 active feature가 없다는데..? (과거버전에는 가능했는데 없어진듯) => get_feature_names() 를 통해 해결
# 이름을 구별하기 위해 get_feature_names( [field] ) 값을 넣어줘서 field_0 field_1과 같이 표현되게 함.
# https://stackoverflow.com/questions/54570947/feature-names-from-onehotencoder
import sklearn.preprocessing as prp

label_encoder = prp.LabelEncoder()
onehot_encoder = prp.OneHotEncoder()

dfC = pd.DataFrame()
for field in category_feature_names:
    encoded_data = label_encoder.fit_transform(dfX[field])
    onehot_data = onehot_encoder.fit_transform(encoded_data.reshape(-1,1))
    #print(onehot_encoder.get_feature_names([field]))
    dfC = pd.concat([dfC, pd.DataFrame(onehot_data.toarray(), columns=onehot_encoder.get_feature_names([field]) )], axis=1)
    
dfX = pd.concat([scaled_df, dfC], axis=1)
dfy = pd.DataFrame(boston.target, columns =["MEDV"])
df = pd.concat([dfX,dfy], axis=1)
print(df.columns)

Index(['RM', 'B', 'LSTAT', 'PTRATIO', 'TAX', 'NOX', 'DIS', 'ZN', 'AGE', 'CRIM',
       'INDUS', 'CHAS_0', 'CHAS_1', 'RAD_0', 'RAD_1', 'RAD_2', 'RAD_3',
       'RAD_4', 'RAD_5', 'RAD_6', 'RAD_7', 'RAD_8', 'MEDV'],
      dtype='object')